<div class="container_home">
    <app-card gameCover="assets/bt-1.jpg"
              gameLabel="Nostalgia"
              gamePrice="R$ 89,90"
              gameType="PS4"
    >
    </app-card>
    <app-card gameCover="assets/bt-4.jpg"
              gameLabel="Digital"
              gamePrice="R$ 110,99"
              gameType="PS4"
    >
    </app-card>
    <app-card gameCover="assets/bt-5.jpg"
              gameLabel="Exclusivo"
              gamePrice="R$ 219,99"
              gameType="PS5"
    >
    </app-card>
    <app-card gameCover="assets/bt-bad-company-2.jpg"
              gameLabel="Sabor de Aventura"
              gamePrice="89,90"
              gameType="PS4"
    >
    </app-card>
    <app-card gameCover="assets/bt-hardline.jpg"
              gameLabel="Mídia Fisica"
              gamePrice="R$ 180,98"
              gameType="PS4"
    >
    </app-card>
    <app-card gameCover="assets/ac-cover.jpg"
              gameLabel="Sabor Nostalgia"
              gamePrice="R$ 300,90"
              gameType="PS5"
    >
    </app-card>
</div>

